<%- include('../partials/header') %>
<section class="new-client-form">
<form action="/clients" method="POST">
    <h3 class="new-header">New Client</h3>
    <label>Client Name</label>
    <input type="text" name="clientName">
    <label>Client Phone Number</label>
    <input type="text" name="clientPhoneNumber">
    <label>Client Email Address</label>
    <input type="text" name="clientEmailAddress">
    <label>Status</label>
    <select name="status">
        <option value="New Client">New Client</option>
        <option value="Document Sent">Document Sent</option>
        <option value="Discovery">Discovery</option>
        <option value="Closing">Closing</option>
    </select>
        <label>Follow-Up</label>
    <select name="followUp">
        <option value="Phone Call">Phone Call</option>
        <option value="Appointment Scheduled">Appointment Scheduled</option>
    </select>
        <label>Appointment Date</label>
    <input type="date" name="appointmentDate">
    <input class="add-client-btn" type="submit" value="Add Client">
    
</form>

</section>
<%- include('../partials/footer') %>