body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://images.unsplash.com/photo-1683395287409-538f0b93e299?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  color: whitesmoke;
  

}
body > nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 50px;
  font-size: medium;

}

a {
  color: black;
  padding: 40px;
  width: 100%;
  justify-content: center;
  display: flex;
  font-size: medium;
}
.login {
  display: flex;
  justify-content: center;
  
  height: 20px;
}

.login img {
  height: 20px;
}

table {
  width: 100%;
  border-collapse: separate;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid gray;
  color: black;
}
tbody tr:nth-child(odd) {
  background: white;
  color: black;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}