* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  color: rgb(3, 1, 1);
}
  body {
  width: 100vw;
  height: 140vh;
  overflow: hidden;
  position: relative;
  font: 14px "Playfair Display", serif;
  background-image: url(https://images.unsplash.com/photo-1683395287409-538f0b93e299?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  color: whitesmoke;
 
  

}
body > nav {
  background: white;
  text-align: center;
  position:relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0px;
  font-size: medium;

}

a {
  color: black;
  padding: 40px;
  width: 100%;
  justify-content: center;
  display: flex;
  font-size: medium;
}
.login {
  display: flex;
  justify-content: center;
  
  height: 20px;
}

.login img {
  height: 20px;
}

.section-one {
  margin: 11rem 2rem 0;
}

.header {
  font-size: 6.5rem;
  font-style: bold;
  justify-content: center;
}

.section-one-paragraph {
  margin: 2rem 0;
  width: 70%;
  max-width: 500px;
  line-height: 1.5rem;
  font-size: x-large;
}
.client-header {
  font-size: 3rem;
}
#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-client-form *,
#add-activity-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}
table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  font-family: "Playfair Display", serif;
  min-width: 400px;
  box-shadow: 0 0 20px gray;
  box-sizing: content-box;
}
th, td {
  padding: 0.25rem;
  text-align: center;
  justify-content: center;
  color: black;
}
tbody tr:nth-child(odd) {
  background: white;
  color: black;
}
input[type=text] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
tbody > a {
  color: whitesmoke;
  justify-content: center;
}

body > div {
  justify-content: center;

}
.delete-form {
  display: inline-block;
  margin-right: 10px;
}
.delete-form button {
  color: red;
}
