<%- include('./partials/header') %>


<section class="section-one">
    <h2 class="header">Sales Connect</h2>
    <p class="section-one-paragraph">Sales Connect allows agents and consultants to store customer details, notes and appointments in one convenient place.</p>  </section>
    <%- include('./partials/footer') %>